.text-center {
	font-size: 100px;
	font-family: papyrus, cursive;
	color: white;
	font-weight: bold;
}

.container {
	margin-top: 20px;
	background: slategray;
	flex-wrap: wrap;
}

#bod {
	background-color: slategray;
}

#gifs {
	height: 100%;
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;
}

label {
	color: white;
}

.btn-success {
	margin-right: 5px;
}

#btns {
	margin-top: 20px;
}

img {
	width: 250px;
	height: 250px;
}